body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar:hover{
   transform: scale(1.2);
}

.avatar {
    width: 150px;
    transition: transform 0.3s linear;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: block;
    justify-content: space-around;
    text-shadow: 1px 1px 2px #748cab;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border:solid #006494;
    box-shadow: 0 4px 8px 0 rgba(1, 2, 5, 1), 0 6px 20px 0 rgba(2, 1, 1, 1);
    border-radius: 10px 10px;
    border-bottom: 8px solid #3e5c76;
        
   
}
.t1:hover{
    transform: scale(1.2)
}

.border-blue {
    border: 1px dotted blue;
}

